{% extends 'template/template.twig' %}

{% block content %}
	{% block page_image %}
		{{ page.image.tag('content-image', page.imageDescription)|raw }}
	{% endblock %}
	{% block content_title %}
	{% endblock %}
	{% block page_content %}
		{% include 'components/advisers.twig' %}
		{{ page.getPageContent()|expandHtml }}
		<div class="container">
			{% include 'components/testimonial.twig' %}
		</div>
	{% endblock %}
{% endblock %}

{% block class_body %}home-page{% endblock %}