{% extends 'template/template.twig' %}

{% block content %}
	{% block page_image %}
		{{ page.image.tag('content-image', page.imageDescription)|raw }}
	{% endblock %}
	{% block content_title %}
	{% endblock %}
	{% include 'components/advisers.twig' %}
	<div class="container">
		{{ page.getPageContent()|expandHtml }}
	</div>
	{% for section in page.getVisiblePageSections() %}
		{% include section.getTemplateLocation() %}
	{% endfor %}
{% endblock %}
{% block page_sections %}{% endblock %}

{% block content_wrapper %}
{{parent()}}
<div class="container">
	{% include 'components/testimonial.twig' %}
</div>
{% endblock %}
{% block class_body %}home-page{% endblock %}